<!-- dashboard.component.html -->
<div class="dashboard-container">
  <h2>Daily Business Snapshot - {{ today }}</h2>
  

  <table class="snapshot-table">
    <tr>
      <td>Total Deposit</td>
      <td>4567890</td>
    </tr>
    <tr>
      <td>Total Advance</td>
      <td></td>
      <!-- Add your Advance content here -->
    </tr>
    <tr>
      <td>Total Business</td>
      <td></td>
      <!-- Add your Total content here -->
    </tr>
  </table>

  <br />

  <div class="dropdown-container">
    <select class="custom-dropdown" [(ngModel)]="selectedOption">
      <option value="" disabled selected>Select</option>
      <option value="deposit">Deposit</option>
      <option value="advance">Advance</option>
    </select>
  </div>

  <table *ngIf="selectedOption === 'deposit'" class="product-table">
    <tr>
      <td>
        <button (click)="toggleProducts('CA_Retail')">{{ isExpanded('CA_Retail') ? '-' : '+' }}</button>
        CA_Retail
      </td>
      <td></td> <!-- Empty column -->
    </tr>
    <tr *ngIf="isExpanded('CA_Retail')">
      <td>Current account basic</td>
      <td></td> <!-- Empty column -->
    </tr>
    <tr *ngIf="isExpanded('CA_Retail')">
      <td>Current account classic</td>
      <td></td> <!-- Empty column -->
    </tr>
    <tr *ngIf="isExpanded('CA_Retail')">
      <td>CA Premium with sweep</td>
      <td></td> <!-- Empty column -->
    </tr>
    <tr *ngIf="isExpanded('CA_Retail')">
      <td>CA Diamond with sweep</td>
      <td></td> <!-- Empty column -->
    </tr>
    <tr *ngIf="isExpanded('CA_Retail')">
      <td>Basic agent</td>
      <td></td> <!-- Empty column -->
    </tr>
    <tr *ngIf="isExpanded('CA_Retail')">
      <td>Escrow account</td>
      <td></td> <!-- Empty column -->
    </tr>
    <tr *ngIf="isExpanded('CA_Retail')">
      <td>CA Premium without sweep</td>
      <td></td> <!-- Empty column -->
    </tr>
    <tr *ngIf="isExpanded('CA_Retail')">
      <td>CA Diamond without sweep</td>
      <td></td> <!-- Empty column -->
    </tr>
    <!-- Add more products as needed -->
  </table>
</div>
