<!-- dashboard.component.html -->
<div class="container">
  <div class="heading-container">
    <h2 class="heading">Daily Business</h2>
  </div>
  <br>
  <div>
    <h2 class="bank-figure">Bank Figure</h2>
    <div class="data-box">{{ bankFigure }}</div>
  </div>

  <div class="flex-container">
    <div class="horizontal-box">
      <h2>   Deposit   </h2>
      <div class="data-box">{{ depositAmount }}</div>
    </div>

    <div class="horizontal-box">
      <h2>Advance</h2>
      <div class="data-box">{{ advanceAmount }}</div>
    </div>
  </div>
  <br><br>
  <br>
  <div class="dropdown-container">
    <select class="custom-dropdown">
      <option value="" disabled selected>Select</option>
      <option value="deposit">Deposit</option>
      <option value="advance">Advance</option>
    </select>
  </div>
  <!--<div class="bottom-section"></div>-->
</div>
