.dashboard-container {
  text-align: center;
  margin: 50px auto;

}

.snapshot-table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 30%;
}

.snapshot-table td {
  border: 1px solid #541313;
  padding: 8px;
}
.product-table-container {
  width: 50%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

/* Style for product table */
.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table th, .product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-table th {
  background-color: #f2f2f2;
}

.product-table td {
  background-color: #fff;
}

.product-table td.empty-column {
  width: 20px; /* Adjust the width as needed */
}

.plus-column {
  width: 20px; /* Adjust the width as needed */
}