<!-- signup.component.html -->

<div class="signup-container">
  <div class="signup-box">
    <div class="app-bar">
      <h2 class="signup-heading">Management Information System</h2>
    </div>
    <h4>Signup</h4>

    <div>
      <select id="userType" name="userType" [(ngModel)]="selectedUserType" title="Select User Type">
        <option value="" disabled selected>Select User Type</option>
        <option value="office">Office User</option>
        <option value="branch">Branch User</option>
      </select>
    </div>

    <div>
      <input type="text" id="userId" [(ngModel)]="userId" placeholder="User ID" />
    </div>

    <div>
      <input type="password" id="password" [(ngModel)]="password" placeholder="Password" />
    </div>

    <div>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password" />
    </div>
    <br>
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    <button (click)="submitForm()">Submit</button><br><br>
    <div class="bottom-section">
      <p> For Assistance Please Contact.</p>
      <p>Email: esaf012024&#64;gmail.com</p>
    </div>
  </div>
</div>
